<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Airport application</title>
</head>
<body>

	<h1>List of airports</h1>
	<ul>
		<li th:each="airport : ${airports}">
			<span th:text="${airport.lid}">id</span>
			<span th:text="${airport.sName}">name</span>
			<span th:text="${airport.sIata}">iata</span>
		</li>
	
	</ul>
	
	<form th:action="@{/airports}" method="post" th:object="${newAirport}">
		Id: <input th:field="*{lid}" /> <br/>
		Name: <input th:field="*{sName}" /> <br/>
		IATA: <input th:field="*{sIata}" /> <br/>
		<input type="submit" value="Add" />
	</form>	

	
</body>
</html>